{% assign coursework = site.data.data['coursework-projects'] %}
{% if coursework %}
<section class="section coursework-projects-section">

  <h2 class="section-title">
    {{ coursework.title }}
  </h2>

  {% for project in coursework.items %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
      <div class="project-tagline" align="justify">{{ project.tagline | markdownify }}</div>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
