{% assign papers = site.data.data['paper-presentations'] %}
{% if papers %}
<section class="section paper-presentations-section">

  <h2 class="section-title">
    {{ papers.title }}
  </h2>

  {% for item in papers.items %}
    <div class="item">

      <span class="project-title">
        {% if item.link %}
        <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
        {% else %}
        {{ item.title }}
        {% endif %}
      </span>

      {% if item.tagline %}
      <div class="project-tagline" align="justify">{{ item.tagline | markdownify }}</div>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
