{% assign research = site.data.data['research-experience'] %}
{% if research %}
<section class="section research-section">
  <h2 class="section-title">
    {{ research.title }}
  </h2>

  {% for position in research.positions %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ position.role }}</h3>
        <div class="time">{{ position.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ position.company }}</div>

    </div><!--//meta-->

    {% if position.details %}
    <div class="details" align="justify">
      {{ position.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
