{% assign research_projects = site.data.data['research-projects'] %}
{% if research_projects %}
<section class="section research-projects-section">

  <h2 class="section-title">
    {{ research_projects.title }}
  </h2>

  {% for project in research_projects.items %}
    <div class="item">

      <div class="project-row">
        <span class="project-title">
          {% if project.link %}
          <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
          {% else %}
          {{ project.title }}
          {% endif %}
        </span>
        <span class="project-links">
          {% if project.links %}
            {% for l in project.links %}
              {% if l.type == "github" %}<a href="{{ l.url }}" target="_blank"><i class="fab fa-github"></i> Code</a>{% endif %}
              {% if l.type == "pdf" %}<a href="{{ l.url }}" target="_blank"><i class="fas fa-file-pdf"></i> Report</a>{% endif %}
              {% if l.type == "ppt" %}<a href="{{ l.url }}" target="_blank"><i class="fas fa-file-powerpoint"></i> Slides</a>{% endif %}
            {% endfor %}
          {% elsif project.link %}<a href="{{ project.link }}" target="_blank"><i class="fas fa-file-pdf"></i> Report</a>{% endif %}
        </span>
      </div>

      {% if project.tagline %}
      <div class="project-tagline" align="justify">{{ project.tagline | markdownify }}</div>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
