---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <header class="site-header">
    <div class="header-inner">
      <a class="home-link" href="{{ site.baseurl }}/">Home</a>
      <a class="research-link" href="{{ site.baseurl }}/research.html">Research</a>
      <a class="more-link" href="{{ site.baseurl }}/projects.html">Projects</a>
      <a class="service-link" href="{{ site.baseurl }}/service.html">Service</a>
      <a class="cert-link" href="{{ site.baseurl }}/assets/docs/certificates.pdf">Certificates</a>
      <a class="mooc-link" href="{{ site.baseurl }}/assets/docs/moocs.pdf">MOOCs</a>
      <a class="work-link" href="{{ site.baseurl }}/work.html">Work</a>
    </div>
  </header>
  <div class="wrapper">
    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>
